.cursorOn {
    cursor: default;
}

.cursorOff {
    cursor: none;
}

.button-div {
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: #ff5733 4px solid;
    border-radius: 5px;
}

.button {
    margin: 0.5rem;
    width: 200px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e5472f;
}

.walAdd {
    position: absolute;
    top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    width: 200px;
    right: 30px;
    border: 4px solid #e5472f;
    padding: 0.4rem;


}