.arrow {
    --arrow-size: 3em;
    --arrow-color: rgb(255, 255, 255);
    --arrow-color-hover: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: var(--arrow-size);
    height: var(--arrow-size);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        box-sizing: border-box;
        display: inline-block;
        width: calc(var(--arrow-size) * .7071);
        height: calc(var(--arrow-size) * .7071);
        border-top: calc(var(--arrow-size) / 5) solid var(--arrow-color);
        transition: all 150ms ease-in-out;
    }

    &.left {
        &::after {
            left: calc(var(--arrow-size) / 5);
            border-left: calc(var(--arrow-size) / 5) solid var(--arrow-color);
            transform-origin: top left;
            rotate: -45deg;
        }

        &:hover::after {
            box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0 var(--arrow-color);
        }
    }


}

a {
    &:hover .arrow {
        &.left {
            &::after {
                border-color: var(--arrow-color-hover);
            }
        }

        &.left {
            &::after {
                box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0 var(--arrow-color);
            }
        }


    }
}


.leaderboard {
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    width: 400px;
}

.leaderboard h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;



}

.scores {
    margin-left: 300px;
}

.userwall {
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    width: 200px;

}