* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(58, 129, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loginBtn {
    background-color: #ff5733;
    color: #fff;
    width: 410px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 5px;
    outline: 2px solid #ff5733;
    outline-offset: 10px;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 2.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: #fff;
    color: #ff5733;
    outline: 2px solid #fff;
    outline-offset: 10px;
}